<a href="https://colab.research.google.com/github/touseefyounas/Sankey-Stocks/blob/main/SankeyStocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import data_table
import requests
import pandas as pd

In [11]:
from pandas.core.arrays import numeric
#Required parameters
url = "https://www.alphavantage.co/query?"
api_key="P1RE3MNTG259TT0B"
function="INCOME_STATEMENT"
symbol="IBM"

#requesting the data with the Alpha Vantage API
response=requests.get(f"{url}function={function}&symbol={symbol}&apikey={api_key}")

if response.status_code==200:
  is_data=response.json()

else:
  print(f"Error: {response.status_code} - {response.text}")



                                                                    ########## Annual Reports Code #############
#extracting annual reports from the json response file
annual_reports=is_data['annualReports']

#converting the json file into a Pandas DataFrame
annual_df=pd.DataFrame(annual_reports)

#converting the numeric values into millions$
def zeros_to_millions(value):
  if isinstance(value,(int,float)):
    return value/1000000  # 1 million dollars = 1000 thousands
  else:
    return value

# Function to format column names
def format_column_name(column_name):
    result = []
    for char in column_name:
        if char.isupper() and result:
            result.append(' ')
        result.append(char)
    return ''.join(result).title()

# Skip the first two rows (containing date and currency info)
numeric_ann_df = annual_df.iloc[:,2:].copy()

# Convert specific columns to numeric data types (e.g., columns 0, 1, 2, 3, 4)
column_indices = list(range(len(numeric_ann_df.columns))) # Adjust these column indices as needed

#converting object data type into numberic value so the 000s can be converted into millions
for ann_idx in column_indices:
    numeric_ann_df[numeric_ann_df.columns[ann_idx]] = pd.to_numeric(numeric_ann_df[numeric_ann_df.columns[ann_idx]], errors='coerce')

# Now, you can proceed with converting the numeric values to millions
numeric_ann_df = numeric_ann_df.applymap(zeros_to_millions)

#Select the first two columns of the original income statement
header_columns=annual_df.iloc[:,:2]

#combine both; the header columns that contain the date and currency type, and the numeric values converted into millions
combined_ann=pd.concat([header_columns,numeric_ann_df],axis=1).fillna('-')

# Apply the formatting function to each column name
combined_ann.columns = [format_column_name(col) for col in combined_ann.columns]



                                                                    ########## Annual Reports Code #############
#extracting annual reports from the json response file
quarterly_reports=is_data['quarterlyReports']

#converting the json file into a Pandas DataFrame
quarterly_df=pd.DataFrame(quarterly_reports)

# Skip the first two rows (containing date and currency info)
numeric_quar_df = quarterly_df.iloc[:,2:].copy()

# Convert specific columns to numeric data types (e.g., columns 0, 1, 2, 3, 4)
quarterly_indices = list(range(len(numeric_quar_df.columns))) # Adjust these column indices as needed

#converting object data type into numberic value so the 000s can be converted into millions
for quar_idx in quarterly_indices:
    numeric_quar_df[numeric_quar_df.columns[quar_idx]] = pd.to_numeric(numeric_quar_df[numeric_quar_df.columns[quar_idx]], errors='coerce')

# Now, you can proceed with converting the numeric values to millions
numeric_quar_df = numeric_quar_df.applymap(zeros_to_millions)

#Select the first two columns of the original income statement
header_quar=quarterly_df.iloc[:,:2]

#combine both; the header columns that contain the date and currency type, and the numeric values converted into millions
combined_quar=pd.concat([header_quar,numeric_quar_df],axis=1).fillna('-')
combined_quar.columns = [format_column_name(col) for col in combined_quar.columns]

combined_quar_T=combined_quar.T
combined_quar_T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Fiscal Date Ending,2023-06-30,2023-03-31,2022-12-31,2022-09-30,2022-06-30,2022-03-31,2021-12-31,2021-09-30,2021-06-30,2021-03-31,2020-12-31,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30,2019-06-30,2019-03-31,2018-12-31,2018-09-30
Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
Gross Profit,8501.0,7509.0,9632.0,7430.0,8290.0,7335.0,9501.0,7106.0,7852.0,7027.0,5813.0,8430.0,8700.0,7922.0,6145.0,8336.0,9010.0,8043.0,10687.0,8803.0
Total Revenue,15475.0,14252.0,16690.0,14107.0,15535.0,14197.0,16694.0,13251.0,14218.0,13187.0,1926.0,17560.0,18123.0,17571.0,2344.0,18028.0,19161.0,18182.0,21761.0,18756.0
Cost Of Revenue,6974.0,6743.0,7058.0,6677.0,7246.0,6862.0,7195.0,6145.0,6366.0,6160.0,-3888.0,9130.0,9423.0,9649.0,-3801.0,9692.0,10151.0,10139.0,11073.0,9953.0
Costof Goods And Services Sold,61.0,30.0,190.0,57.0,120.0,19.0,89.0,49.0,103.0,59.0,181.0,64.0,117.0,76.0,387.0,75.0,74.0,55.0,11073.0,9953.0
Operating Income,1984.0,256.0,3294.0,1471.0,2377.0,470.0,913.0,1761.0,2304.0,1084.0,-4000.0,2358.0,2121.0,-145.0,4048.0,1872.0,1950.0,1616.0,4306.0,2840.0
Selling General And Administrative,4900.0,4853.0,4766.0,4391.0,4855.0,4597.0,4903.0,4306.0,4849.0,4688.0,4712.0,4647.0,5248.0,5955.0,3553.0,5024.0,5456.0,4691.0,4701.0,4363.0
Research And Development,1687.0,1655.0,1604.0,1611.0,1673.0,1679.0,1625.0,1606.0,1641.0,1616.0,1540.0,1515.0,1582.0,1625.0,1517.0,1553.0,1407.0,1433.0,1358.0,1252.0
Operating Expenses,6517.0,7253.0,6338.0,5959.0,5913.0,6865.0,5194.0,6410.0,6700.0,7120.0,2000.0,6072.0,6579.0,8067.0,7052.0,6464.0,7060.0,6427.0,6381.0,5963.0
Investment Income Net,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
Net Interest Income,-423.0,-367.0,-313.0,-295.0,-297.0,-311.0,-303.0,-291.0,-281.0,-280.0,-317.0,-323.0,-323.0,-326.0,-354.0,-432.0,-348.0,-210.0,-193.0,-191.0
Interest Income,201.0,170.0,64.0,53.0,28.0,17.0,13.0,-1.0,11.0,14.0,15.0,15.0,23.0,51.0,48.0,63.0,167.0,70.0,-,-
Interest Expense,423.0,367.0,313.0,295.0,297.0,311.0,303.0,290.0,281.0,280.0,317.0,323.0,323.0,326.0,354.0,432.0,348.0,210.0,193.0,191.0
Non Interest Income,163.0,-93.0,-,-,440.0,-42.0,-,-,-,-,-,-,-,-,-,-,-,-,-,-
Other Non Operating Income,39.0,22.0,-,-5755.0,243.0,83.0,38.0,-234.0,-315.0,-362.0,-247.0,-253.0,-179.0,-182.0,-,-,-,73.0,-184.0,-275.0
Depreciation,520.0,527.0,570.0,586.0,620.0,631.0,749.0,1037.0,1050.0,1052.0,1089.0,1070.0,1056.0,1012.0,1021.0,1058.0,987.0,1143.0,790.0,790.0
Depreciation And Amortization,557.0,547.0,567.0,577.0,626.0,625.0,632.0,647.0,630.0,620.0,610.0,613.0,623.0,622.0,629.0,611.0,307.0,303.0,322.0,348.0
Income Before Tax,2002.0,1051.0,3154.0,-4483.0,1649.0,694.0,2739.0,906.0,1426.0,795.0,884.0,1826.0,1570.0,-51.0,3323.0,1521.0,2767.0,1880.0,4432.0,2998.0
Income Tax Expense,419.0,124.0,444.0,-1287.0,257.0,-39.0,406.0,-224.0,101.0,-160.0,-472.0,128.0,209.0,-1226.0,-347.0,-151.0,269.0,289.0,2481.0,304.0
Interest And Debt Expense,423.0,367.0,313.0,295.0,297.0,311.0,303.0,291.0,281.0,280.0,317.0,323.0,323.0,326.0,354.0,432.0,348.0,210.0,193.0,191.0
Net Income From Continuing Operations,1581.0,934.0,2870.0,-3214.0,1465.0,662.0,2462.0,1037.0,810.0,403.0,-305.0,1698.0,1362.0,1176.0,1380.0,1673.0,2499.0,1593.0,1953.0,2692.0
Comprehensive Income Net Of Tax,1863.0,888.0,3109.0,1834.0,1755.0,1436.0,5136.0,1480.0,1930.0,2036.0,603.0,1870.0,1888.0,489.0,4159.0,1427.0,2839.0,1899.0,282.0,3164.0
Ebit,2425.0,1418.0,3467.0,-4188.0,1946.0,1005.0,3042.0,1196.0,1707.0,1075.0,1201.0,2149.0,1893.0,275.0,3677.0,1953.0,3115.0,2090.0,4625.0,3189.0
Ebitda,2982.0,1965.0,4034.0,-3611.0,2572.0,1630.0,3674.0,1843.0,2337.0,1695.0,1811.0,2762.0,2516.0,897.0,4306.0,2564.0,3422.0,2393.0,4947.0,3537.0
Net Income,1583.0,927.0,2710.0,-3196.0,1392.0,733.0,2333.0,1130.0,1325.0,955.0,1356.0,1698.0,1361.0,1175.0,3670.0,1672.0,2498.0,1591.0,1951.0,2694.0